<div class="about-section">

    <div class="row ">

        <div class="col-lg-6 col-md-6 col-sm-1">
            <div class="thumbnail mx-auto ">
                <a href="#" style="text-decoration: none;">

                    <div class="caption">
                        <img src="https://cdn.pixabay.com/photo/2017/03/06/21/08/maldives-2122547_960_720.jpg" alt="Lights" style="width:100%" class="destination-img">
                        <p class="caption-text" style="text-align: center; margin-top: -100px;">Maldives</p>


                    </div>

                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1">
            <div class="thumbnail mx-auto ">
                <a href="#" style="text-decoration: none;">
                    <div class="caption"><img src="https://cdn.pixabay.com/photo/2014/11/01/18/46/dubrovnik-512798_960_720.jpg" alt="Nature" style="width:100%" class="destination-img">

                        <p class="caption-text" style="text-align: center; margin-top: -100px;">Dubrovnik</p>


                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1">
            <div class="thumbnail mx-auto ">
                <a href="# " style="text-decoration: none; ">

                    <div class="caption "> <img src="https://cdn.pixabay.com/photo/2015/03/18/21/17/bora-bora-680010_960_720.jpg " alt="Nature " style="width:100% " class="destination-img ">
                        <p class="caption-text" style="text-align: center; margin-top: -100px;">Bora Bora</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1 ">
            <div class="thumbnail mx-auto ">
                <a href="# " style="text-decoration: none; ">

                    <div class="caption ">
                        <img src="https://cdn.pixabay.com/photo/2016/11/14/03/23/activity-1822482_960_720.jpg " alt="Fjords " style="width:100% " class="destination-img ">
                        <p class="caption-text" style="text-align: center; margin-top: -100px;">Thailand</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>