.hero-img {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: -50px;
}

.top-hero-text {
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 50px;
    color: white;
}

.btn:hover {
    background-color: black;
}