<div class="home-section">
    <p class="main-question">Why we are the best</p>
    <hr class="hr-home">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 cards " style="border: none;">
                <i class="fa-solid fa-hotel logos"></i>
                <div class="card-body">
                    <h5 class="card-title">Accomodation</h5>
                    <p class="card-text">Where to sleep</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 cards" style="border: none;">
                <i class="fa-solid fa-plane-up logos"></i>
                <div class="card-body">
                    <h5 class="card-title ">Transport</h5>
                    <p class="card-text">How to get there?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 cards" style="border:none">
                <i class="fa-solid fa-star logos"></i>
                <div class="card-body">
                    <h5 class="card-title">Easy trip planning</h5>
                    <p class="card-text">You just say where you want to go, we plan it!</p>
                </div>
            </div>
        </div>

    </div>
</div>