<footer class=" bg-dark">
    <div class="footer">
        <div class="icons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="newsletter" style="display:flex; justify-content: center; margin:1%; gap:1%">
            <p style="color:white ;">Sign up for our newsletter</p>
            <input type="text" style="width: 30%;">
            <button type="button" class="btn btn-outline-light">Subscribe</button>
        </div>
        <p class="copyright text-white text-center p-4 mb-0">&copy; 2022 Copyright Andrea Bicskei</p>
    </div>